.hide {
	opacity: 0;
	filter: blur(10px);
	transition: all 500ms ease-out;
}

.show {
	opacity: 1;
	filter: blur(0);
	transition: all 500ms ease-in;
}

.hero_section {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	background-color: var(--clr-pair-1);
}

.logo_wrapper {
	position: absolute;
	z-index: 1;
	bottom: 5%;
	display: grid;
	place-items: center;
	width: min(50%, 300px);
	padding: min(5%, var(--radius));
	border-radius: var(--radius);
	border: 1.5px solid var(--warm-gray);
	box-shadow: 0 0 10px var(--warm-gray);
	background-color: var(--glassy);
}

.logo {
	object-fit: cover;
	aspect-ratio: 22/15;
}

.bg_wrapper {
	width: 100%;
	height: 100%;
	background-color: var(--skeleton-clr);
}

.bg_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: var(--bg-pulse-slow);
}

.bg_video {
	display: none;
}

@media screen and (orientation: portrait) and (width > 500px) {
	.bg_img {
		display: none;
	}

	.bg_video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		animation: var(--bg-pulse-slow);
	}
}

@media screen and (orientation: landscape) {
	.hero_section {
		flex-direction: row;
	}

	.logo_wrapper {
		position: static;
		width: 50%;
		padding: unset;
		border: none;
		border-radius: unset;
		box-shadow: none;
		background-color: var(--clr-pair-1);
	}

	.logo {
		width: min(50%, 400px);
	}

	.bg_wrapper {
		width: 50%;
		height: 100%;
	}

	@media (width >= 1024px) {
		.bg_img {
			display: none;
		}

		.bg_video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			animation: var(--bg-pulse-slow);
		}
	}
}
